<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Cart</div>
    <div class="panel-body">
        <div class="container shopping-cart">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-left" ></th>
                            <th class="text-right" style="width: 90px">Unit Cost</th>
                            <th class="text-right" style="width: 30px">Quantity</th>
                            <th class="text-right" style="width: 30px">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each model}}
                        <tr>
                            <td>
                                <img {{bindAttr src="imageURL"}} class="img-responsive main" ></img>
                                {{name}}<p>{{description}}</p>
                            </td>
                            <td class="text-right">{{money price}}</td>
                            <td class="text-right">{{input type="text" value=quantity class="form-control" }}</td>
                            <td class="text-right">{{money totalCost}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <ul class="text-right checkout">
                        <li><strong>Total Price</strong>: $<span id="totalCostSpan">0</span></li>
                    </ul>
                </div>
            </div> <!-- / .row -->
        </div>
    </div>
    <div class="panel-footer text-right">
        <button {{action 'inventorysearch' }}  class="btn btn-default">Shop More</button>
        <button {{action 'checkout' this }}  class="btn btn-primary">Checkout</button>
    </div>
</div>
